.header-wrapper {
    width: 100%;
}
.header-row {
    display: flex;
    justify-content: space-between;
}

.header-row__team {
    list-style-type: none;
    font-size: 24px;
    line-height: 36px;
    margin: 12px 0px 12px 40px; 
}

.header-row__button {
    font-family: inherit;
    width: 140px;
    height: 40px;
    color: #FFF;
    background-color: #58417C;
    border-color: #58417C;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
    margin: 12px 40px 12px 0px;
    cursor: pointer;
}

.header-row__button:hover {
    background: #3E2D5A;
}