.main-wrapper {
    width: 100%;
    height: 100vh;
    /* background: #F1EEF8; */
    background-image: url("../assets/Photo-one.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.main-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.title {
    font-size: 64px;
    margin: 40px 0px;
}
.main-row h1 {
    text-align: center;
}

@media(max-width: 900px) {
    .main-wrapper {
        background-size: 60%;
    }
}