.step-three-main-wrapper {
    width: 100%;
    /* background: #F1EEF8; */
    background-image: url("../assets/Photo-four.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 27%;
    display: flex;
    height: 91vh;
    flex-direction: column;
    justify-content: space-between;
}
.step-three-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.step-three-main-row__image {
    margin-top: 10px;
    width: 66%;
}

.step-three-main-row__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 85px;
    font-size: 36px;
    width: 60%;
}

.step-three-main-row__content__underline {
    text-decoration: underline;
}

.step-three-main-row__column {
    display: flex;
    flex-direction: column;
}

.step-three-main-row-custom {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.step-three-main-row-custom-wrapper {
    margin-top: -300px;
    width: 38.5%;
}
.step-three-main-row-custom-wrapper__image {
    width: 100%;
}

@media(max-width: 900px){
    .step-three-main-wrapper{
        height: 100vh;
        justify-content: space-between;
    }
    .step-three-main-row__image {
        width: 90%;
    }
    .step-three-main-row__content {
        margin: 0px;
        font-size: 20px;
        line-height: 54px;
        width: 66%;
        text-align: center;
    }
}
@media(max-width: 500px){
    .step-three-main-row__content{
        font-size: 16px;
        width: 100%;
    }
}