 .goal-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 


.symptoms-main-wrapper {
    width: 100%;
    /* height: 90vh; */
    background: #F1EEF8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/Saly-saly.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.symptoms-main-row {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.symptoms-main-wrapper__image {
    margin-top: 10px;
    width: 100%;
}

.symptoms-main-row__content {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 54px;
    width: 66%;
    text-align: center;
}

.symptoms-main-row__content__underline {
    text-decoration: underline;
}

.symptoms-main-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
    width: 60vw;
}
.big-checkbox {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.browse-symptoms-main-row__checkbox {
    font-size: 24px;
    line-height: 36px;
}
.browse-symptoms-main-row__label {
    margin: 0px 0px 0px 25px; 
    font-size: 24px;
    line-height: 36px;
}
.browse-symptoms-main-row__input {
    width: 40px;
    height: 40px;
}
.goal {
    display: flex;
    align-items: center;
    width: 300px;
}

.checkbox:checked:before {
    background-color: lawngreen;
    border: lawngreen;
}

.symptoms-main-row-custom {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.symptoms-main-row-custom-wrapper {
    margin-top: -248px;
    width: 22%;
}

.symptoms-main-row-custom-wrapper__image{
    width: 91.86%;
}

@media(max-width: 999px) {
    .symptoms-main-checkbox{
        width: 100vw;
    }
}