.symptoms-main-wrapper {
    width: 100%;
    background: #F1EEF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Saly-saly.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.symptoms-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.symptoms-main-wrapper__image {
    margin-top: 10px;
    width: 100%;
}

.symptoms-main-row__content {
    margin-top: 72px;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 54px;
}

.symptoms-main-row__content__underline {
    text-decoration: underline;
}

.symptoms-main-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 75px;
    width: 60vw;
    justify-content: flex-start;
}
.big-checkbox {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.symptoms-main-checkbox-column {
    display: flex;
    flex-direction: column;
}

.symptoms-main-checkbox-column-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.browse-symptoms-main-row__checkbox {
    font-size: 24px;
    line-height: 36px;
}
.browse-symptoms-main-row__label {
    margin: 0px 0px 0px 25px; 
    font-size: 24px;
    line-height: 36px;
}
.browse-symptoms-main-row__input {
    width: 40px;
    height: 40px;
}
.goal {
    display: flex;
    align-items: center;
    width: 300px;
}

.checkbox:checked:before {
    background-color: lawngreen;
    border: lawngreen;
}

.symptoms-main-row-custom {
    /* z-index: 99; */
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.symptoms-main-row-custom-wrapper {
    margin-top: -248px;
    width: 22%;
}

.symptoms-main-row-custom-wrapper__image{
    width: 91.86%;
}