.about {
    text-align: center;
}
.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* width: 100vw; */
}

.memberImage {
    width: 50%;
    border: 2px solid #EDEDED;
    border-radius: 50%;
}   

.storyContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
.story {
    width: 50%;
    text-align: initial;
}

.feedbackContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedbackContainer2 {
    width: 30%;
    padding: 40px;
}

.feedback {
    text-align: center;
}
.mark {
    display: flex;
    justify-content: center;
}