.about {
    text-align: center;
}
.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* width: 100vw; */
}

.memberImage {
    width: 50%;
    border: 2px solid #EDEDED;
    border-radius: 50%;
}   