@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

.activityPage {
    display: flex;
    flex-direction: column;
  }

.bg {
    display: flex;
    justify-content: center;
}
.restart-button {
    height: 40px;
    width: 140px;
    border-radius: 10px;
    background: #8D3F3F;
    border: none;
    color: white;
    margin: 5px; 
}
.restart-button:hover {
    cursor: pointer;
    background: #6B2929;
}
.restart-break {
    display: flex;
    /* width: 100vw; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player, .break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 40px 0px 40px;
}
.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow:  15px 15px 30px #CFC8DB;
    margin: 0px 10px 0px 10px;
}
iframe {
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #CFC8DB;
}

.breakDescriptionContainer {
    border-radius: 10px;
    background: white;
    width: 495px;
    margin: 20px 10px 10px 10px;
    box-shadow:  15px 15px 30px #CFC8DB;
}
.breakDescriptionContainer p {
    font-family: 'Reem Kufi', sans-serif;
    text-align: start;
    margin-right: 5px;
}
.activityDescription {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.activityDescription p {
    font-family: 'Reem Kufi', sans-serif;
}

.benefitDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.benefitDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.benefitDescription div {
    display: flex;
    margin: 15px 15px 15px 15px;
}
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 187px;
    border: 9px solid #786598;
    border-radius: 50%;
}
.clock h1 {
    color: #786598; 
}

.start-button {
    width: 280px;
    height: 64px;
    border-radius: 20px;
    border: none;
    background: #786598;
    color: white;
    margin: 5px;
}
.start-button:hover{
    cursor: pointer;
    background: #3E2D5A;
    
}
.end-button {
    width: 280px;
    height: 64px;
    border-radius: 20px;
    border: none;  
    background: #8D3F3F;
    color: white;
    margin: 5px;
}
.end-button:hover {
    cursor: pointer;
    background: #6B2929;
}

.finish {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.finishButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}