@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

.activityPage {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/Photo5.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
  height: 100%;
}

.feedbackPage2, .finishedActivity {
  display: flex;
  flex-direction: column;
}
.feedbackPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
  background-image:url('/src/assets/Photo7.png');
  background-repeat:no-repeat;
  background-position-x:right 0px;
  background-position-y:bottom -25px;
  background-size: 25%;
}
.feedbackPage2 {
  height: 87vh;
  background-image:url('/src/assets/Saly-6.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: 53%;
}
.bg {
  overflow: "hidden";
  height: 250px;
  display: flex;
  justify-content: center;
}
.bg img {
  overflow: "hidden";
  margin: -300px 0px 0px -180px;
}
.restart-button {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  background: #8d3f3f;
  border: none;
  color: white;
  margin: 5px;
  font-family: inherit;
  font-size: large;
}
.restart-button:hover {
  cursor: pointer;
  background: #6b2929;
}
.restart-break {
  display: flex;
  /* width: 100vw; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.take-break {
  display: flex;
  /* width: 100vw; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.feedbackPage h1 {
  margin: 0px;
  text-align: center;
}
.feedbackPage h4 {
  text-align: center;
}

.restart-break h4, .take-break h4 {
  margin: 10px;
}
.start-break {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  background: #58417c;
  border: none;
  color: white;
  margin: 5px;
}

.start-break:hover {
  cursor: pointer;
  background: #3e2d5a;
}
.player,
.break {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 40px 0px 40px;
}
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 300px; */
  background: white;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #cfc8db;
  margin: 10px 10px 0px 10px;
}
iframe {
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px #cfc8db;
}

.breakDescriptionContainer {
  border-radius: 10px;
  background: white;
  width: 412px;
  margin: 20px 10px 10px 10px;
  box-shadow: 15px 15px 30px #cfc8db;
  display: flex;
  flex-direction: column;
}
.breakDescriptionContainer p {
  font-family: "Reem Kufi", sans-serif;
  text-align: start;
  margin: 10px;
}
.breakDescriptionContainer h2 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.activityDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activityDescription p {
  font-family: "Reem Kufi", sans-serif;
}

.benefitDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-bottom: 15px;
}
.benefitDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefitDescription div {
  display: flex;
  margin: 5px;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 9px solid #786598;
  border-radius: 50%;
}
.clock h1 {
  color: #786598;
}

.start-button {
  width: 230px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #786598;
  color: white;
  margin: 5px;
  font-family: inherit;
  font-size: larger;
}
.start-button:hover {
  cursor: pointer;
  background: #3e2d5a;
}
.end-button {
  width: 230px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #8d3f3f;
  color: white;
  margin: 5px;
  font-family: inherit;
  font-size: larger;
}
.end-button:hover {
  cursor: pointer;
  background: #6b2929;
}

.finish {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("./assets/Photo6.png"), url("./assets/Saly-44.png");
  background-position:left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 35%, 35%;
  
}
.finishButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* margin-right: 100px; */
}
.finishButtons h2 {
    margin-bottom: 100px;
    text-align: center;
}
.feedback {
  position: relative;
}
#mark {
  -webkit-appearance: none;
  background: transparent;
  color: black;
  width: 300px;
  height: 40px;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -11px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #57417c;
  border-radius: 10px;
  border: 0.2px solid #010101;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #57417c;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 
  background: #57417c;
  border-radius: 10px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb::before {
  position: absolute;
  content: "";
  height: 10px; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: #777;
}
.feedbackPage textarea {
    font-size: 14px;
    font-family: "Reem Kufi", sans-serif;
    resize: none;
    width: 500px;
    border: none;
    border-radius: 16px;
    padding: 10px;
}
.feedbackPage textarea:focus {
    outline: #57417c;
    box-shadow: 0 0 10px #57417c;
    /* border-color: #57417c; */
}
.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 500px;
}
.comment h4 {
  text-align: center;

}


.comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-button {
    font-family: inherit;
    font-size: 24px;
    width: 280px;
    height: 64px;
    border-radius: 20px;
    border: none;
    background: #786598;
    color: white;
    margin: 50px 5px 5px 5px;
    cursor: pointer;
}
.feedback-button:hover {
    background: #3E2D5A;
}
.feedback-button:active {
  background: #3E2D5A;
}
.back {
  font-family: "Reem Kufi", sans-serif;
  font-size: 20px;
  align-self: left;
  float: left;
  background: none;
  padding: 10px;
  margin: 1px;
  border: none;
  border-radius: 16px;
}

.back:hover {
  cursor: pointer;
  background: white;
}
.back:active {
  background: white;
}
.finalMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin-top: 6.5vw;
}
.finalMessage h2, .finalMessage h3 {
  width: 22vw;
  margin: 0.6vw 0.6vw 0.6vw 29vw;
  -ms-transform: rotate(15deg); /* IE 9 */
  transform: rotate(-18deg);
  color: white;
}
.finalMessage h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.go-back-btn {
  align-self: flex-start;
}

.benefitContainer {
  display: flex;
  align-items: center;
}
.logoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoSection h4 {
  font-size: 24px;
}

.adminPage {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/Photo-one.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 40%;
  padding-top: 20px;
}
.adminBenefits {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer h6 {
  margin-bottom: 0px;
  font-size: 12px;
}
.footerLine {
  width: 70%;
  border-top: 1px solid black;
}
.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
@media(max-width: 990px) {
  .activityPage {
    height: 100vh;
    justify-content: space-between;
  }
}
@media(max-width: 650px){
  .player, .break {
    flex-direction: column;
    margin: 0;
  }
  .timer, iframe, .breakDescriptionContainer {
    width: 91%;
  }
}

@media(max-width: 700px) {
  .finish {
    background-image: none;
  }
}

@media(max-width: 560px) {
  .feedbackPage textarea, .comment {
    width: 70vw;
}
}

@media(max-width: 385px) {
  .feedbackPage {
    background-image: none;
  }
}