@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

.activityPage, .feedbackPage2 {
  display: flex;
  flex-direction: column;
}
.feedbackPage {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-image:url('/src/assets/Photo7.png');
  background-repeat:no-repeat;
  background-position:right bottom;
}
.feedbackPage2 {
  height: 100vh;
  background-image:url('/src/assets/Saly-6.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: 60%;
}
.bg {
  overflow: "hidden";
  height: 250px;
  display: flex;
  justify-content: center;
}
.bg img {
  overflow: "hidden";
  margin: -300px 0px 0px -180px;
}
.restart-button {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  background: #8d3f3f;
  border: none;
  color: white;
  margin: 5px;
}
.restart-button:hover {
  cursor: pointer;
  background: #6b2929;
}
.restart-break {
  display: flex;
  /* width: 100vw; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.take-break {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.restart-break h4, .take-break h4 {
  margin: 10px;
}
.start-break {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  background: #58417c;
  border: none;
  color: white;
  margin: 5px;
}

.start-break:hover {
  cursor: pointer;
  background: #3e2d5a;
}
.player,
.break {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 40px 0px 40px;
}
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 300px; */
  background: white;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #cfc8db;
  margin: 10px 10px 0px 10px;
}
iframe {
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px #cfc8db;
}

.breakDescriptionContainer {
  border-radius: 10px;
  background: white;
  width: 412px;
  margin: 20px 10px 10px 10px;
  box-shadow: 15px 15px 30px #cfc8db;
  display: flex;
  flex-direction: column;
}
.breakDescriptionContainer p {
  font-family: "Reem Kufi", sans-serif;
  text-align: start;
  margin: 10px;
}
.breakDescriptionContainer h2 {
  text-align: center;
}
.activityDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activityDescription p {
  font-family: "Reem Kufi", sans-serif;
}

.benefitDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.benefitDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefitDescription div {
  display: flex;
  margin: 5px;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 9px solid #786598;
  border-radius: 50%;
}
.clock h1 {
  color: #786598;
}

.start-button {
  width: 230px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: #786598;
  color: white;
  margin: 5px;
}
.start-button:hover {
  cursor: pointer;
  background: #3e2d5a;
}
.end-button {
  width: 230px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: #8d3f3f;
  color: white;
  margin: 5px;
}
.end-button:hover {
  cursor: pointer;
  background: #6b2929;
}

.finish {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.finishButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.finishButtons h2 {
    margin-bottom: 100px;
}
.feedback {
  position: relative;
}
#mark {
  -webkit-appearance: none;
  background: transparent;
  color: black;
  width: 300px;
  height: 40px;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -11px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #57417c;
  border-radius: 10px;
  border: 0.2px solid #010101;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #57417c;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 
  background: #57417c;
  border-radius: 10px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb::before {
  position: absolute;
  content: "";
  height: 10px; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: #777;
}
.feedbackPage textarea {
    font-size: 14px;
    font-family: "Reem Kufi", sans-serif;
    resize: none;
    width: 500px;
    border: none;
    border-radius: 16px;
    padding: 10px;
}
.feedbackPage textarea:focus {
    outline: #57417c;
    box-shadow: 0 0 10px #57417c;
    /* border-color: #57417c; */
}
.comment {
    align-self: center;
    width: 500px;
}

.comment h4 {
    text-align: left;
}

.feedback-button {
    font-family: inherit;
    font-size: 24px;
    width: 280px;
    height: 64px;
    border-radius: 20px;
    border: none;
    background: #786598;
    color: white;
    margin: 50px 5px 5px 5px;
}
.feedback-button:hover {
    cursor: pointer;
    background: #3E2D5A;
}
.back {
  font-family: "Reem Kufi", sans-serif;
  font-size: 20px;
  align-self: left;
  float: left;
  background: none;
  padding: 10px;
  margin: 10px 10px 0px 10px ;
  border: none;
  border-radius: 16px;
}

.back:hover {
  cursor: pointer;
  background: white;
}

.finalMessage{
  display: flex;
  /* width: 350px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin-top: 6.5vw;
}
.finalMessage h2, .finalMessage h3 {
  width: 22vw;
  margin: 0.6vw 0.6vw 0.6vw 29vw;
  -ms-transform: rotate(15deg); /* IE 9 */
  transform: rotate(-18deg);
  color: white;
}
.finalMessage h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.go-back-btn {
  align-self: flex-start;
}

.benefitContainer {
  display: flex;
  align-items: center;
}